/*For dark theme for Body*/
.dark-theme {
    background-color: #121212;
    color: white;
}

/*For dark theme for all <a> links*/
.dark-theme a {
    color: #90caf9;
}

/*For dark theme for buttons*/
.dark-theme button {
    background-color: rgb(54, 54, 79);
    color: white;
}

