/*For dark theme for Body*/
.dark-theme {
    background-color: #121212;
    color: white;
}

/*For dark theme for all <a> links*/
.dark-theme a {
    color: #90caf9;
}

/*For dark theme for buttons*/
.dark-theme button {
    background-color: rgb(54, 54, 79);
    color: white;
}

.profile-image{
    width: 250px;
    max-width: 100%; /*Prevent overflow on small screen*/
    height: auto; /*Keeps aspect ratio*/
}

header{
    display: flex; /*Activate flex box*/
    align-items: center; /*vertical alignment*/
    justify-content: space-between; /*space between text and image*/
    flex-wrap: wrap; /*whether flex items are forced onto a single line or*/
    padding: 20px;
}

.greeting {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}


/*For mobile layout
(min-width: 769px) → only apply for large screens
(orientation: portrait) → apply when device is vertical
*/
@media (max-width: 768px) and (orientation: portrait){
    header {
        flex-direction: column; /*Stackign vertically*/
        text-align: center; /*centers the text in the column*/
    }

    .profile-image {
        margin-top: 20px;
    }
}
